#logos {
  stroke-dasharray: 2549;
  stroke-dashoffset: 2549;
  animation: loader 11s infinite;
}

.logo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  animation: fill 2.5s infinite;
}

@keyframes loader {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: rgb(200, 170, 128);
  }
}
