@import url("https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Monoton&family=Roboto+Mono:wght@400;500;600;700&display=swap");
:root {
  --color-primary-100: rgb(11, 19, 21);
  --color-primary-200: rgb(15, 29, 34);
  --color-secondary-100: rgb(200, 170, 128);
  --color-secondary-200: rgb(222, 204, 179);
  --color-tertiary-200: rgb(114, 93, 68);
  --color-white-100: rgba(223, 220, 220, 0.933);
  --color-white-200: rgba(244, 244, 244, 1);
  --color-gray-100: rgb(169, 169, 169);
  --color-gray-200: rgb(156, 156, 164);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary-100);
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 400;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

a {
  color: var(--color-secondary-100);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}

li {
  font-size: 1.6rem;
}

/****************************  HELPER CLASSES  ****************************/
.sm-margin-top {
  margin-top: 1rem;
}

.m-margin-top {
  margin-top: 2.5rem;
}

.mdm-margin-top {
  margin-top: 4rem;
}

.mds-margin-top {
  margin-top: 6rem;
}

.lg-margin-top {
  margin-top: 8rem;
}

.xlg-margin-top {
  margin-top: 10rem;
}

.xxlg-margin-top {
  margin-top: 14rem;
}

.md-margin-bottom {
  margin-bottom: 1rem;
}

.mds-margin-bottom {
  margin-bottom: 2rem;
}

.mdm-margin-bottom {
  margin-bottom: 10rem;
}

.lg-margin-bottom {
  margin-bottom: 15rem;
}

.xxlg-margin-bottom {
  margin-bottom: 25rem;
}

.s-padding {
  padding: 3.9rem;
}

.sm-padding {
  padding: 4rem;
}

.md-padding {
  padding: 5rem;
}

.xlg-padding {
  padding: 10rem;
}

/****************************  HERO CONTENT  ****************************/
.container-hero {
  width: 100%;
  height: 100vh;
}

.temp {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary-100);
  background-size: cover;
  -webkit-animation: fadeOut 5s linear forwards;
  animation: fadeOut 5s linear forwards;
  opacity: 1;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  91% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  91% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.first-block {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: var(--color-white-200);
  -webkit-animation: go-left 4s cubic-bezier(0.74, 0.6, 0.4, 0.92) forwards;
  animation: go-left 4s cubic-bezier(0.74, 0.6, 0.4, 0.92) forwards;
  left: 0;
}

@-webkit-keyframes go-left {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes go-left {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.second-block {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: var(--color-tertiary-200);
  -webkit-animation: go-left 3.2s cubic-bezier(0.74, 0.6, 0.4, 0.92) forwards;
  animation: go-left 3.2s cubic-bezier(0.74, 0.6, 0.4, 0.92) forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.loader ul li {
  display: inline-block;
  color: var(--color-white-100);
  font-family: inherit;
  font-weight: bolder;
  margin: 0 0.8rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  -webkit-animation: loadNow 4s ease-in-out forwards;
  animation: loadNow 4s ease-in-out forwards;
  opacity: 0;
  -webkit-transform: translateX(0rem);
  transform: translateX(0rem);
}

@-webkit-keyframes loadNow {
  0% {
    opacity: 0;
    -webkit-transform: translateX(8rem);
    transform: translateX(8rem);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-8rem);
    transform: translateX(-8rem);
  }
}

@keyframes loadNow {
  0% {
    opacity: 0;
    -webkit-transform: translateX(8rem);
    transform: translateX(8rem);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-8rem);
    transform: translateX(-8rem);
  }
}
.loader ul li:nth-child(1) {
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

.loader ul li:nth-child(2) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

.loader ul li:nth-child(3) {
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

.loader ul li:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.loader ul li:nth-child(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.loader ul li:nth-child(6) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.loader ul li:nth-child(7) {
  -webkit-animation-delay: 1.35s;
  animation-delay: 1.35s;
}

.loader ul li:nth-child(8) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.loader ul li:nth-child(9) {
  -webkit-animation-delay: 1.45s;
  animation-delay: 1.45s;
}

.loader ul li:nth-child(10) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.third-block {
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--color-primary-200);
  -webkit-animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation-delay: 6.2s;
  animation-delay: 6.2s;
}

@-webkit-keyframes expandNow {
  0% {
    width: 0%;
  }
  100% {
    width: 64%;
  }
}

@keyframes expandNow {
  0% {
    width: 0%;
  }
  100% {
    width: 64%;
  }
}
.menu {
  position: absolute;
  right: 0;
  margin: 3rem;
}

.logo {
  position: absolute;
  left: 0;
  margin: 2rem;
}
.logo img {
  opacity: 0;
  -webkit-animation: appearimg 0.1s linear forwards;
  animation: appearimg 0.1s linear forwards;
  -webkit-animation-delay: 6.4s;
  animation-delay: 6.4s;
}

.content {
  position: absolute;
  width: 50rem;
  top: 46%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.heading {
  font-family: "Great Vibes", cursive;
  font-weight: bolder;
  font-size: 4.2rem;
  line-height: 1;
  color: var(--color-secondary-100);
}

.desc {
  font-family: inherit;
  font-weight: bolder;
}
.desc p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--color-white-100);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.4;
}

.button-hero {
  font-family: inherit;
  border: none;
  padding: 1.6rem 4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: var(--color-secondary-100);
  cursor: pointer;
}
.button-hero:hover {
  background-color: var(--color-secondary-200);
}

.img img {
  width: 50rem;
  height: 100%;
  opacity: 0;
  -webkit-animation: appearimg 0.1s linear forwards;
  animation: appearimg 0.1s linear forwards;
  -webkit-animation-delay: 6.4s;
  animation-delay: 6.4s;
}

.img {
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 14%;
  -webkit-transform: translateY(-65%);
  transform: translateY(-65%);
}
.img::after {
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  position: absolute;
  background: var(--color-tertiary-200);
  -webkit-animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

@-webkit-keyframes rev-img {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    width: 50rem;
    left: 0;
  }
  100% {
    left: 50rem;
    width: 0;
  }
}

@keyframes rev-img {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    width: 50rem;
    left: 0;
  }
  100% {
    left: 50rem;
    width: 0;
  }
}
@-webkit-keyframes appearimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.media ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  right: 2.4rem;
  padding: 1rem;
}
.media ul li {
  margin: 2.4rem 0;
}

/**************************** ABOUT US ****************************/
.caption-about {
  font-size: 6.4rem;
  color: var(--color-secondary-100);
  text-align: right;
  margin-right: 20rem;
  margin-top: 10rem;
  font-family: "Great Vibes", cursive;
}

.aboutus-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-self: center;
  padding: 5rem 10rem;
  margin-bottom: 10rem;
}

.aboutus-description {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.32;
  font-family: inherit;
  margin-bottom: 5rem;
  color: var(--color-white-100);
}
.aboutus-description-thanks {
  color: var(--color-secondary-100);
}

/**************************** WOMENS CARD ****************************/
.container-grid-women {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.women-title {
  font-size: 6.4rem;
  position: absolute;
  font-family: "Great Vibes", cursive;
  top: 5rem;
  left: 2.5%;
  z-index: 15;
  color: var(--color-secondary-100);
  font-weight: 400;
}

.left-block-women-card {
  width: 80%;
  background-color: var(--color-primary-200);
  color: var(--color-white-100);
  min-height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
}

.right-block-women-card {
  padding: 4.5rem;
  margin-left: 6.5rem;
  width: 70%;
}
.right-block-women-card .styled {
  width: 5rem;
  margin: 0 2rem;
}

/**************************** GALLERY****************************/
.caption-gallery {
  font-size: 6.4rem;
  font-family: "Great Vibes", cursive;
  color: var(--color-secondary-100);
  text-align: center;
  margin-top: 10rem;
}

.gallery {
  padding: 2rem;
}

/**************************** MENU ****************************/
#menu {
  height: 100%;
  background-color: var(--color-primary-200);
  border-top: 1px solid var(--color-secondary-100);
  border-bottom: 1px solid var(--color-secondary-100);
}

.caption-menu {
  padding: 0.5rem 0rem 0rem 0rem;
  font-size: 6.4rem;
  color: var(--color-secondary-100);
  text-align: center;
  margin-top: 5rem;
  font-family: "Great Vibes", cursive;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  padding: 0rem 0rem 5rem 0;
}

.menu-items-caption {
  font-size: 5rem;
  color: var(--color-tertiary-200);
  font-family: "Monoton", cursive;
}

.menu-items-sub-cation {
  font-size: 2.4rem;
  margin-top: 1rem;
  color: var(--color-secondary-100);
  font-family: inherit;
}

.menu-items {
  font-size: 2rem;
  color: var(--color-white-100);
}

/**************************** TESTIMONIALS ****************************/
.caption-testimonial {
  font-size: 6.4rem;
  color: var(--color-secondary-100);
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
  font-family: "Great Vibes", cursive;
}
#comment {
  padding: 10rem;
}
.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 4rem;
  font-family: "Roboto Mono", monospace;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15rem;
  color: var(--color-white-100);
  margin: auto;
  text-align: center;
  background: var(--color-primary-100);
}

.author {
  font-size: 3rem;
  margin-top: 3rem;
  color: var(--color-secondary-100);
  font-family: "Great Vibes", cursive;
}

/**************************** RESERVATION ****************************/
.thoughts-caption {
  text-align: left;
  margin-top: 10rem;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--color-secondary-100);
  font-family: "Great Vibes", cursive;
}

.grid-50-50 {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 0 5rem;
}

.location-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.location {
  height: 80%;
  padding: 6.8rem;
  margin-bottom: 2rem;
  background-color: var(--color-primary-200);
  border: 2px solid var(--color-secondary-100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.location-caption {
  text-align: right;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Great Vibes", cursive;
  color: var(--color-secondary-100);
}
.location-detail {
  text-align: right;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-white-100);
}

.reservation-caption-up {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-size: 6.4rem;
  margin-top: 12rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-secondary-100);
}

.reservation-contactus {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--color-white-100);
}

.reservation-number {
  text-align: center;
  font-family: inherit;
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-secondary-100);
}

.grid-form {
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.expand {
  grid-column: 1/-1;
}

.inputs {
  font-size: 1.6rem;
  color: var(--color-white-100);
  background-color: var(--color-primary-100);
  border: solid 1px var(--color-secondary-100);
  min-width: 100%;
  padding: 1.5rem;
  outline: none;
}

.button {
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-gray-100);
  background-color: var(--color-primary-100);
  border: solid 1px var(--color-secondary-100);
  min-width: 50%;
  padding: 1.5rem;
  outline: none;
}

.button:hover,
.button:active {
  color: var(--color-white-200);
  background-color: var(--color-secondary-100);
}

input::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input::-moz-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input:-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input::-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input::placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::-moz-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea:-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

/**************************** FOOTER ****************************/
.footer-flex-informations {
  margin-top: 14rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  color: var(--color-white-100);
  margin-bottom: 2rem;
}

.footer-flex-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  color: var(--color-white-100);
}

.footer-information {
  font-size: 1.6rem;
  color: var(--color-white-100);
}
.footer-information:hover {
  color: var(--color-gray-100);
}

.footer-copyrights {
  font-size: 1.2rem;
  color: var(--color-white-100);
}

/**************************** POLICY ****************************/
.policy-logo-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.policy-font-up {
  text-align: center;
  font-family: inherit;
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-secondary-100);
  white-space: nowrap;
}

.backto-home {
  font-size: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-white-100);
}
.backto-home:hover {
  color: var(--color-gray-100);
}

.flex-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  place-content: center;
}

.policy-description {
  padding: 0 15rem;
  font-size: 1.7rem;
  color: var(--color-gray-200);
  line-height: 1.7;
}

/**************************** MEDIA QUERIES****************************/
@media only screen and (max-width: 84.5em) {
  html {
    font-size: 56.25%;
  }
  .container-grid-women {
    min-height: 75%;
  }
  .aboutus-description {
    font-size: 2.6rem;
  }
  .img {
    top: 50%;
    right: 9%;
  }
}
@media only screen and (max-width: 78.125em) {
  .heading {
    font-size: 3.6rem;
  }
  .desc p {
    font-size: 1.8rem;
  }
  .button-hero {
    padding: 1.4rem 3.6rem;
  }
  .img {
    top: 50%;
    right: 2%;
  }
  .caption-about {
    font-size: 4.8rem;
  }

  .aboutus-description {
    font-size: 2.4rem;
  }
  .women-title {
    font-size: 4.8rem;
  }
  .caption-gallery {
    font-size: 4.8rem;
  }

  .thoughts-caption {
    font-size: 4.8rem;
  }
  .location-caption {
    font-size: 4.8rem;
  }
  .caption-menu {
    font-size: 4.8rem;
  }
  .menu-items-caption {
    font-size: 4rem;
  }
  .caption-testimonial {
    font-size: 4.8rem;
  }
  .reservation-caption-up {
    font-size: 4.8rem;
  }
  .author {
    font-size: 1.8rem;
  }
  .right-block-women-card {
    width: 85%;
  }
}
@media only screen and (max-width: 64.0625em) {
  .container-grid-women {
    min-height: 75%;
  }
  .container-grid-women {
    min-height: 75%;
  }
  .menu-items-caption {
    font-size: 2.8rem;
  }
  .menu-items-sub-cation {
    font-size: 2rem;
  }
  .menu-items {
    font-size: 1.6rem;
  }
  .women-title {
    font-size: 4rem;
  }
  .caption-gallery {
    font-size: 4rem;
  }
  .caption-about {
    font-size: 4rem;
  }
  .left-block-women-card {
    font-size: 1.7rem;
  }
  .location-caption {
    font-size: 4rem;
  }
  .caption-menu {
    font-size: 4rem;
  }
  .thoughts-caption {
    font-size: 4rem;
  }
  .caption-testimonial {
    font-size: 4rem;
  }
  .reservation-caption-up {
    font-size: 4rem;
  }
  .comments h3 {
    font-size: 1.5rem;
  }
  .author {
    font-size: 1.5rem;
  }
  .reservation-contactus {
    font-size: 1.5rem;
  }
  .reservation-number {
    font-size: 2rem;
  }
  .footer-information {
    font-size: 1.4rem;
  }
  .footer-copyrights {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }

  .aboutus-description {
    font-size: 2.6rem;
  }
  .first-block {
    animation: none;
  }
  .second-block {
    animation: none;
  }
  .caption-about {
    margin-right: 10rem;
  }
}
@media only screen and (max-width: 54.375em) {
  .img {
    top: 50%;
    right: 1%;
  }
  .img img {
    width: 45rem;
  }
  .aboutus-description {
    font-size: 2.6rem;
  }
  .right-block-women-card {
    width: 100%;
    margin-left: 0.5rem;
  }
  .grid-50-50 {
    grid-template-columns: 1fr;
  }
  .location-detail {
    text-align: center;
  }
  .thoughts-caption {
    margin-top: 5rem;
  }
  .aboutus-description {
    font-size: 1.9rem;
  }
}
@media only screen and (max-width: 50.0625em) {
  .content {
    top: 75%;
    left: 30%;
  }
  .img {
    top: 40%;
    right: 30%;
    transform: translate(50%, -50%);
  }
  .img img {
    width: 50rem;
  }
  .comments h3 {
    font-size: 1.4rem;
  }
  .aboutus-description {
    font-size: 1.6rem;
  }
  .left-block-women-card {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 41.75em) {
  html {
    font-weight: 500;
  }
  .content {
    top: 69%;
    left: 50%;
    padding: 4rem;
  }
  .img {
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .img img {
    width: 34rem;
  }

  .heading {
    font-size: 3rem;
  }
  .women-title {
    font-size: 3.6rem;
  }
  .caption-gallery {
    font-size: 3.6rem;
  }
  .caption-about {
    font-size: 3.6rem;
  }
  .location-caption {
    font-size: 3.6rem;
  }
  .caption-menu {
    font-size: 3.6rem;
  }
  .thoughts-caption {
    font-size: 3.6rem;
  }
  .caption-testimonial {
    font-size: 3.6rem;
  }
  .reservation-caption-up {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 41.75em) {
  #navbar {
    width: 3.4rem;
  }
  #facebook {
    width: 3.4rem;
  }
  #instagram {
    width: 3.4rem;
  }

  #logo img {
    width: 2rem;
  }
}
@media only screen and (max-width: 24.6875em) {
  html {
    font-size: 45%;
  }
  .menu {
    position: absolute;
  }
  .heading {
    font-size: 3rem;
  }
  .women-title {
    font-size: 3.6rem;
  }
  .caption-gallery {
    font-size: 3.6rem;
  }
  .caption-about {
    font-size: 2.8rem;
  }
  .location-caption {
    font-size: 2.8rem;
  }
  .caption-menu {
    font-size: 2.8rem;
  }
  .thoughts-caption {
    font-size: 2.8rem;
  }
  .caption-testimonial {
    font-size: 2.8rem;
  }
  .reservation-caption-up {
    font-size: 2.8rem;
  }
  .aboutus-description {
    font-size: 1.6rem;
  }
  .container-grid-women {
    grid-template-columns: 1fr;
  }
  .left-block-women-card {
    min-height: 75vh;
    justify-self: center;
  }
  .right-block-women-card {
    width: 95%;
    justify-self: center;
  }
  #comment {
    padding: 2rem;
  }
  .grid-50-50 {
    padding: 0;
  }
}
