@import url("https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Monoton&family=Roboto+Mono:wght@400;500;600;700&display=swap");
:root {
  --color-primary-100: rgb(11, 19, 21);
  --color-primary-200: rgb(15, 29, 34);
  --color-secondary-100: rgb(200, 170, 128);
  --color-secondary-200: rgb(222, 204, 179);
  --color-tertiary-200: rgb(114, 93, 68);
  --color-white-100: rgba(223, 220, 220, 0.933);
  --color-white-200: rgba(244, 244, 244, 1);
  --color-gray-100: rgb(169, 169, 169);
  --color-gray-200: rgb(156, 156, 164);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary-100);
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

a {
  color: var(--color-secondary-100);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}

li {
  font-size: 1.6rem;
}

/****************************  NAVBAR  ****************************/
#hero-logo {
  width: 5.8rem;
  height: 5.8rem;
}
#navbarlogo {
  width: 3.6rem;
  height: 3.6rem;
}
#navbarClose {
  width: 2.65rem;
  height: 2.65rem;
}

header {
  display: grid;
  position: absolute;
  grid-auto-flow: column;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 2.9rem;
  align-items: center;
  z-index: 100;
}
header li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: 800;
  font-style: italic;
}
header li a:hover {
  color: var(--color-secondary-200);
}

header .nav-btn {
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-white-100);
}

header nav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  max-width: 100%;
  background-color: var(--color-primary-200);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transition: 1s;
  transform: translateY(-110vh);
}

.navbar li {
  cursor: pointer;
}

header .responsive_nav {
  transform: none;
}

nav .nav-close-btn {
  position: absolute;
  top: 3rem;
  right: 3.5rem;
}
/****************************  HERO CONTENT  ****************************/
.container-hero {
  width: 100%;
  height: 100vh;
}
.hero-slider-grid {
  display: grid;
  grid-template-columns: 56fr 44fr;
}
.content {
  height: 100vh;
  background-color: var(--color-primary-200);
}

.content-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-primary-200);
  -webkit-animation: expandNow 2.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: expandNow 2.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  z-index: -10;
}
@keyframes expandNow {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0vw);
  }
}
.content-caption {
  font-size: 6.4rem;
  font-weight: 400;
  color: var(--color-secondary-100);
  font-family: "Great Vibes", cursive;
}
.content-detail {
  padding: 1rem 5rem;
  margin: 2.5rem 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  font-family: inherit;
  color: var(--color-white-100);
}

.content-img {
  display: flex;
  margin-left: -20rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  -webkit-animation: appearimg 1.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: appearimg 1.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation-delay: 1.16s;
  animation-delay: 1.16s;
  z-index: -10;
  overflow: hidden;
}

@keyframes appearimg {
  0% {
    transform: translateX(5vw);
    opacity: 0;
  }

  100% {
    transform: translateY(0vw);
    opacity: 1;
  }
}
.hero-img {
  width: 60rem;
  height: 64rem;
}

/**************************** ABOUT US ****************************/
.caption-about {
  font-size: 6.4rem;
  font-weight: 400;
  color: var(--color-secondary-100);
  text-align: right;
  margin-right: 20rem;
  margin-top: 10rem;
  font-family: "Great Vibes", cursive;
}

.aboutus-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-self: center;
  padding: 5rem 10rem;
  margin-bottom: 4rem;
}

.aboutus-description {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.32;
  font-family: inherit;
  margin-bottom: 19rem;
  color: var(--color-white-100);
}
.aboutus-description-thanks {
  color: var(--color-secondary-100);
}

/**************************** WOMENS CARD ****************************/
.container-grid-women {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.women-title {
  font-size: 6.4rem;
  position: absolute;
  font-family: "Great Vibes", cursive;
  top: 5rem;
  left: 2.5%;
  z-index: 15;
  color: var(--color-secondary-100);
  font-weight: 400;
}

.left-block-women-card {
  width: 80%;
  background-color: var(--color-primary-200);
  color: var(--color-white-100);
  min-height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
}

.right-block-women-card {
  padding: 4.5rem;
  margin-left: 7rem;
  width: 70%;
}
.right-block-women-card .styled {
  width: 5rem;
  margin: 0 2rem;
}

/**************************** GALLERY****************************/
.caption-gallery {
  font-weight: 400;
  font-size: 6.4rem;
  font-family: "Great Vibes", cursive;
  color: var(--color-secondary-100);
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.gallery-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.56s;
  overflow: hidden;
  filter: brightness(0.85);
}

.gallery-grid img:hover {
  transform: scale(1.15);
  filter: brightness(1.05);
}

/**************************** MENU ****************************/
#menu {
  height: 100%;
  background-color: var(--color-primary-200);
  border-top: 1px solid var(--color-secondary-100);
  border-bottom: 1px solid var(--color-secondary-100);
}

.caption-menu {
  padding: 0.5rem 0rem 0rem 0rem;
  font-size: 6.4rem;
  font-weight: 400;
  color: var(--color-secondary-100);
  text-align: center;
  margin-top: 5rem;
  font-family: "Great Vibes", cursive;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 0rem 0rem 5rem 0;
}

.menu-items-caption {
  font-size: 5rem;
  color: var(--color-tertiary-200);
  font-family: "Monoton", cursive;
}

.menu-items-sub-cation {
  font-size: 2.4rem;
  margin-top: 1rem;
  color: var(--color-secondary-100);
  font-family: inherit;
}

.menu-items {
  font-size: 2rem;
  color: var(--color-white-100);
}

/**************************** TESTIMONIALS ****************************/
.caption-testimonial {
  font-size: 6.4rem;
  font-weight: 400;
  color: var(--color-secondary-100);
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-family: "Great Vibes", cursive;
}

#comment {
  padding: 10rem;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 4rem;
  font-family: "Roboto Mono", monospace;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 16.7rem;
  color: var(--color-white-100);
  margin: auto;
  text-align: center;
  background: var(--color-primary-100);
}

.author {
  font-size: 3rem;
  margin-top: 3rem;
  color: var(--color-secondary-100);
  font-family: "Great Vibes", cursive;
}

/**************************** RESERVATION ****************************/
.thoughts-caption {
  text-align: left;
  margin-top: 10rem;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 2;
  color: var(--color-secondary-100);
  font-family: "Great Vibes", cursive;
}

.grid-50-50 {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 0 5rem;
}

.location-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.location {
  height: 80%;
  padding: 6.8rem;
  margin-bottom: 2rem;
  background-color: var(--color-primary-200);
  border: 2px solid var(--color-secondary-100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.location-caption {
  text-align: right;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Great Vibes", cursive;
  color: var(--color-secondary-100);
}
.location-detail {
  text-align: right;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-white-100);
}

.reservation-caption-up {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-size: 6.4rem;
  margin-top: 8rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-secondary-100);
}

.reservation-contactus {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--color-white-100);
}

.reservation-number {
  text-align: center;
  font-family: inherit;
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-secondary-100);
}

.grid-form {
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.expand {
  grid-column: 1/-1;
}

.inputs {
  font-size: 1.6rem;
  color: var(--color-white-100);
  background-color: var(--color-primary-100);
  border: solid 1px var(--color-secondary-100);
  min-width: 100%;
  padding: 1.5rem;
  outline: none;
}

.button {
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-gray-100);
  background-color: var(--color-primary-100);
  border: solid 1px var(--color-secondary-100);
  min-width: 50%;
  padding: 1.5rem;
  outline: none;
}

.button:hover,
.button:active {
  color: var(--color-white-200);
  background-color: var(--color-secondary-100);
}

input::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input::-moz-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input:-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input::-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

input::placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::-moz-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea:-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

textarea::placeholder {
  font-family: inherit;
  color: var(--color-gray-100);
}

.reservation-map {
  padding: 5rem;
}

.leaflet-container {
  margin-top: 5rem;
  width: 100%;
  height: 70vh;
}

/**************************** FOOTER ****************************/
#footer {
  background-color: var(--color-primary-200);
}

.footer-flex-informations {
  border-top: solid 1px var(--color-secondary-100);
  margin-top: 15rem;
  display: grid;
  gap: 5rem;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--color-white-100);
  padding: 3rem;
}

.footer-flex-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-white-100);
}

.footer-information {
  font-size: 1.5rem;
  color: var(--color-white-100);
}
.footer-information:hover {
  color: var(--color-gray-100);
}

.footer-copyrights {
  font-size: 1.2rem;
  color: var(--color-white-100);
  margin-bottom: 1.5rem;
}

/**************************** POLICY ****************************/
.nav-links {
  cursor: pointer;
}
.policy-logo-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.policy-font-up {
  text-align: center;
  font-family: inherit;
  font-size: 3.6rem;
  margin-top: 7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-secondary-100);
  white-space: nowrap;
}

.backto-home {
  font-size: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-white-100);
}
.backto-home:hover {
  color: var(--color-gray-100);
}

.flex-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  place-content: center;
}

.policy-description {
  padding: 0 15rem;
  font-size: 1.7rem;
  margin-bottom: 3rem;
  color: var(--color-gray-200);
  line-height: 1.7;
}

/**************************** MEDIA QUERIES****************************/
@media only screen and (max-width: 84.5em) {
  html {
    font-size: 56.25%;
  }
  .container-grid-women {
    min-height: 75%;
  }
  .aboutus-description {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 78.125em) {
  .hero-img {
    width: 50rem;
    height: 54rem;
  }
  .content-caption {
    font-size: 4.8rem;
  }
  .content-img {
    margin-left: -12rem;
  }
  .caption-about {
    font-size: 4.8rem;
  }
  .aboutus-description {
    font-size: 2.4rem;
  }
  .women-title {
    font-size: 4.8rem;
  }
  .caption-gallery {
    font-size: 4.8rem;
  }
  .thoughts-caption {
    font-size: 4.8rem;
  }
  .location-caption {
    font-size: 4.8rem;
  }
  .caption-menu {
    font-size: 4.8rem;
  }
  .menu-items-caption {
    font-size: 4rem;
  }
  .caption-testimonial {
    font-size: 4.8rem;
  }
  .reservation-caption-up {
    font-size: 4.8rem;
  }
  .author {
    font-size: 1.8rem;
  }
  .right-block-women-card {
    width: 85%;
  }
}
@media only screen and (max-width: 64.0625em) {
  .container-grid-women {
    min-height: 75%;
  }
  .container-grid-women {
    min-height: 75%;
  }
  .menu-items-caption {
    font-size: 2.8rem;
  }
  .menu-items-sub-cation {
    font-size: 2rem;
  }
  .menu-items {
    font-size: 1.6rem;
  }
  .women-title {
    font-size: 4rem;
  }
  .caption-gallery {
    font-size: 4rem;
  }
  .caption-about {
    font-size: 4rem;
  }
  .left-block-women-card {
    font-size: 1.7rem;
  }
  .location-caption {
    font-size: 4rem;
  }
  .caption-menu {
    font-size: 4rem;
  }
  .thoughts-caption {
    font-size: 4rem;
  }
  .caption-testimonial {
    font-size: 4rem;
  }
  .reservation-caption-up {
    font-size: 4rem;
  }
  .comments h3 {
    font-size: 1.6rem;
  }
  .author {
    font-size: 2rem;
  }
  .reservation-contactus {
    font-size: 1.6rem;
  }
  .reservation-number {
    font-size: 2rem;
  }
  .footer-information {
    font-size: 1.35rem;
  }
  .footer-copyrights {
    font-size: 1.35rem;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
  .content-caption {
    font-size: 4rem;
  }
  .content-detail {
    font-size: 1.8rem;
  }

  .content-img {
    margin-left: -10rem;
  }
  .right-block-women-card {
    padding: 4.5rem;
    margin-left: -1rem;
    width: 100%;
  }
  .grid-50-50 {
    grid-template-columns: 1fr;
  }
  .aboutus-description {
    font-size: 2.6rem;
  }
  .first-block {
    -webkit-animation: none;
    animation: none;
  }
  .second-block {
    -webkit-animation: none;
    animation: none;
  }
  .caption-about {
    margin-right: 10rem;
  }
  .policy-description {
    padding: 0 5rem;
  }
  .policy-font-up {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 54.375em) {
  .hero-img {
    width: 40rem;
    height: 42rem;
  }
  .content-img {
    margin-left: -8.5rem;
  }
  .aboutus-description {
    font-size: 2.6rem;
  }
  .right-block-women-card {
    width: 100%;
  }
  .grid-50-50 {
    grid-template-columns: 1fr;
  }
  .location-detail {
    text-align: center;
  }
  .thoughts-caption {
    margin-top: 5rem;
  }
  .aboutus-description {
    font-size: 1.9rem;
  }
  .gallery-grid {
    grid-template-columns: 1fr;
  }
  .gallery-container {
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 50.0625em) {
  .content-img {
    margin-left: -8rem;
  }
  .comments h3 {
    font-size: 1.4rem;
  }
  .aboutus-description {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
  }
  .aboutus-container {
    padding: 0rem 5rem;
  }
  .left-block-women-card {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 41.75em) {
  #navbarlogo {
    width: 3.4rem;
  }
  html {
    font-size: 40.6%;
  }
  .policy-description {
    padding: 0rem 3rem;
  }
  .hero-slider-grid {
    grid-template-columns: 1fr;
  }
  .container-hero {
    height: 100%;
  }
  .content-hero {
    height: 100vh;
  }
  .content-img {
    height: 67vh;
    margin-left: 0;
  }
  .grid-50-50 {
    padding: 2rem;
  }
  .heading {
    font-size: 3rem;
  }
  .women-title {
    font-size: 3.2rem;
    top: 2rem;
  }
  .caption-gallery {
    font-size: 3.6rem;
  }
  .caption-about {
    font-size: 3.6rem;
  }
  .location-caption {
    font-size: 3.6rem;
  }
  .caption-menu {
    font-size: 3.6rem;
  }
  .thoughts-caption {
    font-size: 3.6rem;
  }
  .caption-testimonial {
    font-size: 3.6rem;
  }
  .reservation-caption-up {
    font-size: 3.6rem;
  }
  .reservation-contactus {
    padding: 2rem;
  }
  .left-block-women-card {
    min-height: 60vh;
    width: 70%;
    justify-self: center;
    font-size: 2rem;
  }
  .women-title {
    left: 22%;
  }
  .right-block-women-card {
    width: 70%;
    margin-left: 0rem;
    justify-self: center;
  }
  .container-grid-women {
    grid-template-columns: 1fr;
  }
  .content-detail {
    font-size: 2.2rem;
  }
  .comments h3 {
    font-size: 1.85rem;
  }
  .author {
    font-size: 2.6rem;
  }
  .footer-information {
    font-size: 1.5rem;
  }
  .reservation-map {
    padding: 1rem;
  }
  #comment {
    padding: 5rem;
  }
}

@media only screen and (max-width: 30.125em) {
  .content-caption {
    font-size: 5.2rem;
  }
  .grid-50-50 {
    padding: 1rem;
  }
  .aboutus-description {
    font-size: 1.9rem;
    padding: 0rem;
  }
  .footer-flex-informations {
    gap: 1.4rem;
  }
  .left-block-women-card {
    min-height: 50vh;
    width: 75%;
    justify-self: center;
  }
  .right-block-women-card {
    width: 85%;
    margin-left: 0rem;
    justify-self: center;
  }
  .reservation-contactus {
    padding: 2rem;
    font-size: 1.8rem;
  }
  .reservation-number {
    font-size: 2.8rem;
  }
  .container-grid-women {
    grid-template-columns: 1fr;
  }
  .reservation-map {
    padding: 1rem;
  }

  .comments {
    height: 20rem;
  }
}
@media only screen and (max-width: 24.6875em) {
  .grid-50-50 {
    padding: 1rem;
  }
  .menu-grid {
    gap: 10rem;
    margin-top: 2rem;
  }

  .women-title {
    font-size: 4.2rem;
    font-weight: 500;
  }

  .caption-gallery {
    font-size: 4.2rem;
    font-weight: 500;
  }
  .caption-about {
    font-size: 4.2rem;
    font-weight: 500;
  }
  .location-caption {
    font-size: 4.2rem;
    font-weight: 500;
  }
  .caption-menu {
    font-size: 4.2rem;
    font-weight: 500;
  }
  .thoughts-caption {
    font-size: 4.2rem;
    font-weight: 500;
  }
  .caption-testimonial {
    font-size: 4.2rem;
    font-weight: 500;
  }
  .reservation-caption-up {
    font-size: 4.2rem;
    font-weight: 500;
  }
  .aboutus-description {
    font-size: 2rem;
    padding: 0rem;
  }
  .container-grid-women {
    grid-template-columns: 1fr;
  }
  .left-block-women-card {
    min-height: 60vh;
    justify-self: center;
  }
  .right-block-women-card {
    width: 85%;
    margin-left: 0rem;
    justify-self: center;
  }
  #comment {
    padding: 1rem;
  }
  #menu {
    padding: 3rem;
  }
}
